doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Images
    link(rel="stylesheet", href="stylesheets/image.css")
    //- Using jQuery to get the pictures from dev-data/img directory
    //- script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
  body 
    header 
      .back
        a.btn(href='options') Back
      h1
        span.highlight All 
        | our 
        span.highlight images 
  
    .row 
      #col
      #c1.column
      //-   img(src="images/Fiddler-Crabs.jpg", alt="crabs")
      //-   img(src="images/h.png", alt="h")
      //-   img(src="images/hero.png", alt="hero")
      #c2.column 
      //-   img(src="images/map.png", alt="map")
      //-   img(src="images/user-1.jpg", alt="user")
      #c3.column
      //-   img(src="images/user-2.jpg", alt="user")
      //-   img(src="img/-1682362587011.jpg", alt="zapato")
      #c4.column 
      //-   img(src="img/-1682969540958.JPG", alt="tabla")
      //-   img(src="img/-1680324870459.js", alt="js code")
      //-   img(src="images/user-3.jpg", alt="user")
      if data 

        //- - for (let i = 0; i < 4; i++)
          .column
            - console.log()
            - for (let j = 0; j < data.length; j++)
              p=`img/${data[j]}`
        - let count = 0;      
        each event in data 
          .column
              img(src=`img/${event}`, alt=`${event}`)

  
    script(type='text/javascript' defer).
      //- const col = getElementById('col');
      //- const imges = [];
      //- #{data}.forEach(file => {
      //-   images.push(document.createElement('img').setAttribute('src', `img/${file}`))
      //- });
      //- col.appendChild(imges);
      //- document.createElement('img');
      //- col.appendChild(col);
      //- col.innerhtml = #{data};
      
  //- #{data}.forEach(file => {
  //-   console.log(file);
  //- });
  //- console.log(#{data});
      


